<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.developing.ico2k2.luckyplayer"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".LuckyPlayer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dark.Red">

        <!--<provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="it.developing.ico2k2.luckyplayer.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>-->

        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--<meta-data
                android:name="android.app.default_searchable"
                android:resource="@xml/search_songs" />



            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />-->

        </activity>


        <activity
            android:name=".activities.TabsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"/>

        <activity
            android:name=".activities.InitializeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"/>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleTop"/>

        <activity
            android:name=".activities.SettingsActivity$SettingsSecondaryActivity"
            android:label="@string/settings"
            android:launchMode="singleTop"/>

        <activity
            android:name=".activities.InfoActivity"
            android:label="@string/song_info"
            android:documentLaunchMode="always">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
            </intent-filter>

        </activity>



    </application>
</manifest>
